{% extends 'main.html' %}
{% load static %}
{% block body %}

<section class="ftco-section bg-light">

			<div class="container">

				<div class="row">
                    {% if invents %}
                    {% for invent in invents %}



          <div class="col-md-4 ftco-animate">

            <div class="blog-entry">
                {% if invent.image %}
              <a href="blog-single.html" class="block-20 d-flex align-items-end justify-content-end" style="background-image: url({{ invent.image.url }});">
								<div class="meta-date text-center p-2">

                  <span class="mos">Сер.Номер->{{ invent.serial_number }}</span>
                                    <span class="mos">Инв.Номер->{{ invent.invent_number }}</span>
                                    {% else %}

                                                  <a href="blog-single.html" class="block-20 d-flex align-items-end justify-content-end" style="background-image: url({% static 'images/default_image.jpg' %});">
								<div class="meta-date text-center p-2">

                  <span class="mos">Сер.Номер->{{ invent.serial_number }}</span>
                                    <span class="mos">Инв.Номер->{{ invent.invent_number }}</span>

{% endif %}
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">{{ invent.title }}</a></h3>
                <p>{{ invent.description }}</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">{{ invent.institution }}</a>
	                	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
	                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
                     {% endfor %}


                    {% else %}
                    <h1>Совпадений нет</h1>
                    {% endif %}



			</div>

		</section>




{% endblock %}